*{
margin:0;
}
body{
    background-color: #272626;
    /* background: linear-gradient(165.58deg, rgba(53, 53, 53, 0.53) 0%, #262628 194.33%); */
    color: white;
}
header ul{
    float: right;
    list-style: none;
}
header li{
    float: left;
}
.logo{
    width: 200px;
    height: 90px;
margin-top: 63px;
margin-left: 73px;
}
.ListItem{
  padding-top: 89px;
  padding-right: 74px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 1000;
}
.contactItem{
    padding-top: 80px;
  padding-left: 34px;
  padding-right: 107px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 1000;
}

.contact{
    padding:10px 30px;
    width: 224;
    height: 53;
    border: 2px solid #FFFFFF;
    border-radius: 48px;
}
.fp{
     margin-top: 150px;
    margin-left: 105px;
    margin: 150px 105px 0px 150px ;
    display: flex;
    align-items: center;
}
.vector{
    width: 40%;
    border-radius: 34px;
}
.quote{
    width: 800px;
    height: 218px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 110px;
}
span{
    font-weight: 700;
}
.aboutUs{
    padding:100px 104px;
}
.aboutUs h1{
margin-bottom: 40px;
font-family: 'Rubik', sans-serif;
font-weight: 900;
font-size: 40px;
line-height: 70px;
}
.aboutUs p{
    font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 199.5%;
letter-spacing: 0.05em;
}

.Sheet{
    margin: 0px 40px;
    background-color: black;
    border-radius: 53px 53px 0px 0px;
}

.Sheet h1{
    padding-top: 60px;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 59px;
    line-height: 70px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 100px 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
width: 400px;
font-family: Rubik;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 46px;
}
.card p{
    padding-top: 30px;
    padding-left: 80px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 199.5%;
    letter-spacing: 0.05em;
}
.card h2{
    padding-top: 30px;
    padding-left: 10px;
    margin-left: 0px;
    font-family: Rubik;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 46px;
}
.logos{
    padding-left: 80px;
    width: 120px;
}
.card .title{
    display: flex;
    padding-left:70px;
}
hr{
    margin: 0 auto;
    width: 80%;
height: 0px;
border: 1px solid #FFFFFF;
}
.ReachUs{
    color: #FFFFFF9E;    ;
    
   margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ReachUs input{
    padding: 10px;
    margin-left:  100px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.58);
        display: block;
    border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
width: 350px;
height: 62px;
}
.ReachUs textarea{
    margin-left:  100px;
    margin-bottom: 30px;

border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
background: rgba(0, 0, 0, 0.58);
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
width: 525px;
height: 359px;

}
.ReachUs button{
    margin-left:  100px;
    margin-bottom: 30px;
    display: block;
    color: black;
    width: 231px;
height: 62px;
background: #FFFFFF;
border-radius: 27.5px;
font-family: Rubik;
font-style: normal;
font-weight: bolder;
font-size: 32px;
line-height: 38px;
}
.ReachUs ul{
    padding-top:30px ;
    list-style-type: circle;
    font-weight: 300;
font-size: 20px;
line-height: 180%;
/* or 41px */

letter-spacing: 0.155em;
}
.ReachUs .text{
    margin-left:20  px ;
}
.text h2{
    font-family: Rubik;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
}
.text{
    position: relative;
    bottom: 100px;
    left: 40px;
    width: 600px;
height: 382px;
}
.icons{
    padding-left: 40px;

}
.icons img{
height: 38px;
    margin-top: 80px;
padding-right: 40px;
}
footer{
    margin-top: 100px;
    color: black;
    height: 377px;
    background-color:#E5E4E2 ;
}
footer ul{
    padding-left: 70px;
padding-top: 39px;
    font-weight: 300;
font-size: 20px;
line-height: 133%;
/* or 27px */

letter-spacing: -0.065em;
}

footer h2{
padding-left: 70px;
padding-top: 39px;
    font-size: 67px;
line-height: 79px;
text-transform: capitalize;
}

footer header{
    position: relative;
    bottom: 180px;
}
footer header .contact{
    border: 2px solid #000000;
}